 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title> Crack Overflow </title>
    <link rel="stylesheet" href="/assets/css/main.css">     
  </head>
  <body>
    <nav class="header-nav">
      <div class="header-nav-left">
        <a href="/" id="nav-logo-link">  
          <span id="nav-logo-text">CRACK OVERFLOW</span>  
        </a>  
      </div>
      <div class="header-nav-right">   
        <a href="/signup" class="header-auth-links" id="header-signup-link">
          SIGN UP
        </a>
        <a href="login" class="header-auth-links" id="header-login-link">
          LOG IN
        </a>
      </div>      
    </nav>    
    <section id="signup_header"> 
      <h3 class="auth-page-tagline">Log In</h3>
      {{ if .Error }}
      <div class="auth-errors">
        <ul>
          {{range .Error}}
            <li>{{.}}</li>
          {{end}}
        </ul>
      </div>
      {{end}}
      <div class="auth-box">
        <form method="post" action="/login" id="">                     
          <input label="Username" placeholder="Username" name="username" 
            type="text" class="form-input" />
          <input label="Password" placeholder="Password" name="password"
             type="password" class="form-input" />
          <button type="submit" class="form-btn">Log In</button>
        </form>
      </div>   
    </section>
</body>
</html>