<video width="640" height="480" controls>
  <source src="/assets/vid/movie.mp4" type="video/mp4">
  <source src="/assets/vid/movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

<form [formGroup]="uploadVidForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="Video">Upload Video</label>
		<input type="file" name="video" accept="video/*" 
		(change)="onFileChange($event)">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>	
</form>